################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/BandwidthMonitor/.vs/BandwidthMonitor/v15/Server/sqlite3
/BandwidthMonitor/.vs/BandwidthMonitor/v15
